baud: 9600
port: /dev/ttyUSB0
controllers: {
  joint_controller_1: {
    type: joint_controller,
    joints: [base_pan, shoulder_tilt, elbow_tilt, wrist_tilt, wrist_rotate, gripper],
    publish_joint_states: true,
    publish_rate: 8 
  }
}

joints: {
  base_pan: {channel: 0, max_angle: 1.57, min_angle: -1.57, offset_angle: 0.0, default_angle: 0.0, initialize: true, invert: false},
  shoulder_tilt: {channel: 1, max_angle: 1.57, min_angle: -1.57, offset_angle: 0.0, default_angle: 0.0, initialize: true, invert: false},
  elbow_tilt: {channel: 2, max_angle: 1.57, min_angle: -1.57, offset_angle: 0.0, default_angle: 0.0, initialize: true, invert: false},
  wrist_tilt: {channel: 3, max_angle: 1.57, min_angle: -1.57, offset_angle: 0.0, default_angle: 0.0, initialize: true, invert: false},
  wrist_rotate: {channel: 4, max_angle: 1.57, min_angle: -1.57, offset_angle: 0.0, default_angle: 0.0, initialize: true, invert: false},
 gripper: {channel: 5, max_angle: 1.57, min_angle: -1.57, offset_angle: 0.0, default_angle: 0.0, initialize: true, invert: false}
}
